---
import PageLayout from "@/layouts/Base";
import SocialList from "../components/SocialList.astro";
import Period from "../components/Period.astro";
import { numberOfWorkingYears } from "../utils/date";
import { Image } from "astro:assets";

const meta = {
	title: "About",
	description: "âš™ï¸Tech Lead | ðŸ’» Senior Engineer | NodeJS, Kubernetes, Clouds, Go",
};

const Work = [
  {
    name: "Monokle",
    position: "Senior Cloud Engineer",
    url: "https://app.monokle.com",
    description: [
      "Led the infrastructure management as well as end-to-end architecture and development of the authentication framework, microservices and GraphQL APIs for the Monokle Cloud application at Kubeshop.",
      "Cut existing cloud costs by over 60% while also implementing the industry security and reliability practices.",
      "Implemented OAuth2.0 + OpenID Connect authentication by deploying and configuring an on-prem Authorization Server as well implementing and testing individual Authorization Code, Client Credentials and Device Code flows.",
      "Implemented a high-throughput content streaming API for fetching repositories from multiple GIT providers by integrating provider APIs or leveraging SSH / HTTPS git authentication.",
      "Created and maintained Github Actions configuration files for building and testing as well as Helm Charts & Kustomizations deployed on ArgoCD to sum up for an end-to-end CI/CD process.",
      "Improved build times by more than 80% while also scaling down image sizes by an entire order of magnitude by leveraging Github Actions concurrency and caching as well as Docker multistage builds and distroless images.",
],
    period: {
      start: new Date("12.1.2022"),
      end: new Date("3.15.2024"),
    },
  },
  {
    name: "Bitdefender",
    position: "Senior Cloud Engineer",
    url: "https://www.bitdefender.com/company/",
    description: [
      "Worked on building an internal platform that enabled developers and ML researchers to easily manage their code's lifecycle after development, from building, to deploying to multiple testing and staging environments and ultimately going to production.",
      "Implemented multiple Kubernetes operators for technologies such as RabbitMQ, Prometheus and the Elastic Stack (deep diving into operations like HA clustering, sharding, etc.) in order to be able to ship them as managed services.",
      "Designed and implemented a hardware and software discovering and inventorying system that in only a couple of months helped the company pass a SOC2 audit while also saving on alternative paid solutions.",
      "Designed and implemented a highly-available, multi-region mail templating gateway through which the client emails are being sent on behalf of the products. Built, managed and worked with multiple message brokers and SMTP gateways connected on a multi-region scale, on high-availability requirements.",
      "Participated in the design and implementation of infrastructure, Kubernetes deployment on public and private cloud providers (Google Cloud Platform, Amazon AWS and on-premise infrastructure) as well as migration (Virtual Machines to Kubernetes), replication, scaling and authentication of services like MongoDB, RabbitMQ, Redis and Elastic Stack components using OAuth2.0 flows.",
    ],
    period: {
      start: new Date("10.1.2018"),
      end: new Date("12.1.2022"),
    },
  },
  {
    name: "Yonder",
    position: "Software Engineer",
    url: "https://tss-yonder.com/",
    description: [
      "Worked on a Data Warehouse & GIS mapping project used by government entities.",
      "Developed frontend components using Angular, based on specific instructions & designs",
      "Mapped GIS, JSON and XML data through .NET and NodeJS APIs.",
      "Dockerized all the dev and staging environments in order to facilitate local development and shorten build and release times.",
    ],
    period: {
      start: new Date("03.1.2017"),
      end: new Date("10.1.2018"),
    },
  },
  {
    name: "Maxcode",
    position: "Junior Software Developer",
    url: "https://www.maxcode.net/about-us/",
    description: [
      'Worked on designing and implementing an internal employee management application.',
    ],
    period: {
      start: new Date("11.1.2016"),
      end: new Date("03.1.2017"),
    },
  },
  {
    name: "Yonder",
    position: "Junior Software Developer",
    url: "https://tss-yonder.com/",
    description: [],
    period: {
      start: new Date("04.1.2016"),
      end: new Date("07.1.2016"),
    },
  },
]

function getBadgeColor(percentage: number) {
  if (percentage > 70) {
    return "border-green-500"
  } else if (percentage > 50) {
    return "border-yellow-500"
  } else {
    return "border-orange-500"
  }
}

---

<PageLayout meta={meta}>
	<div class="space-y-16">
    <section class="space-y-6">
      <div class="flex flex-col sm:flex-row gap-x-0 gap-y-9 sm:gap-x-9 sm:gap-y-6 sm:space-x-3">
        <Image
          src="/me.jpeg"
          alt="Photo of me having fun at a party."
          class="object-cover rounded-full"
          loading="eager"
          fetchpriority="high"
          width={200}
          height={200}
          style="border-radius: 50%"
        />

        <div class="flex gap-3 flex-col">
          <p>
            I'm a results-driven <span class="text-accent">Senior Software Engineer</span> with <span class="text-accent">{numberOfWorkingYears()} years</span> of hands-on experience designing and building cloud-native projects.
          </p>
          <p>
            Specialized in crafting high-throughput applications using modern technologies across the entire back-end stack, like <span class="text-accent">NodeJS</span>, <span class="text-accent">Typescript</span>, <span class="text-accent">MongoDB</span>, <span class="text-accent">PostgreSQL</span> and <span class="text-accent">Kubernetes</span>.
          </p>
          <p>
            Throughout my career, I have consistently demonstrated the ability to successfully tackle and deliver impactful projects, leaving a distinct fingerprint on each endeavor.
          </p>
        </div>
      </div>

      <SocialList />
    </section>

    <section class="space-y-6">
      <h2 class="title text-xl">Projects & Experience</h2>

      <ul class="space-y-8 sm:space-y-4">
        {Work.map(project => {
          return (
            <li>
              <div class="flex justify-between">
                <a href={project.url} class="sm:hover:underline text-accent" data-astro-prefetch target="_blank">{project.name}</a>
                <div class="text-gray-600 dark:text-gray-400"><Period start={project.period.start} end={project.period.end} /></div>
              </div>
              <div class="space-y-4 mt-4">
                {project.description.map(desc => <p>{desc}</p>)}
              </div>
            </li>
            <div class="border-b border-gray-200 dark:border-gray-800 pt-2"></div>
          )
        })}
      </ul>
    </section>

    <section class="space-y-6">
      <h2 class="title text-xl">Technologies</h2>

      <section class="space-y-2">
        <h4 class="text-lg font-bold">Development</h4>
        <p class="space-x-3">
          {Object.entries(
            {'NodeJS': 100, 'Typescript': 90, 'MongoDB': 90, 'Go': 70, 'PostgreSQL': 70, 'MySQL': 50}
          ).map((tech) => (
            <span class={"border-b py-0.5 " + getBadgeColor(tech[1]) }>{tech[0]}</span>
          ))}
      </section>

      <section class="space-y-2">
        <h4 class="text-lg font-bold">Resources</h4>
        <p class="space-x-3">
          {Object.entries(
            {'MongoDB': 100, 'Redis': 90, 'AMQP': 90, 'PostgreSQL': 70, 'Elasticsearch': 70}
          ).map((tech) => (
            <span class={"border-b py-0.5 " + getBadgeColor(tech[1]) }>{tech[0]}</span>
          ))}
      </section>

      <section class="space-y-2">
        <h4 class="text-lg font-bold">CI/CD</h4>
        <p class="space-x-3">
          {Object.entries(
            {'Docker': 100, 'Github Actions': 90, 'ArgoCD': 70, 'CircleCI': 60}
          ).map((tech) => (
            <span class={"border-b py-0.5 " + getBadgeColor(tech[1]) }>{tech[0]}</span>
          ))}
      </section>

      <section class="space-y-2">
        <h4 class="text-lg font-bold">Infrastructure</h4>
        <p class="space-x-3">
          {Object.entries(
            {'Kubernetes': 100, 'Cloudflare': 90, 'Prometheus': 90, 'Grafana': 80, 'Loki': 70, 'Tempo': 70, 'Terraform': 70}
          ).map((tech) => (
            <span class={"border-b py-0.5 " + getBadgeColor(tech[1]) }>{tech[0]}</span>
          ))}
        <p class="space-x-3">
          {Object.entries(
            {'Google Cloud Platform': 100, 'Amazon Web Services': 90}
          ).map((tech) => (
            <span class={"border-b py-0.5 " + getBadgeColor(tech[1]) }>{tech[0]}</span>
          ))}
      </section>

    </section>

	</div>
</PageLayout>
