---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";
import pkg from "../../package.json";


interface Props {
	meta: SiteMeta;
}

const faroConfig = {
	url: "https://faro-collector-prod-eu-west-2.grafana.net/collect/b3811c349a48e4c380a534109f017dfd",
	app: {
		name: "stefanmuraru-com",
		version: pkg.version,
		environment: "production",
	},
	sessionTracking: {
		samplingRate: 1,
		persistent: true,
	},
};

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead title={title} description={description} ogImage={ogImage} articleDate={articleDate} />

		<script
			defer
			is:inline
			src="https://static.cloudflareinsights.com/beacon.min.js"
			data-cf-beacon='{"token": "590efb30049b45d99e45bb37886c178c"}'></script>

		<!-- Google tag (gtag.js) -->
		<script async is:inline src="https://www.googletagmanager.com/gtag/js?id=G-4RPMHK2VBK"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-4RPMHK2VBK");
		</script>

		<script is:inline define:vars={{ faroConfig }}>
			(function () {
				var webSdkScript = document.createElement("script");
				webSdkScript.src =
					"https://unpkg.com/@grafana/faro-web-sdk@latest/dist/bundle/faro-web-sdk.iife.js";
				webSdkScript.onload = () => {
					window.GrafanaFaroWebSdk.initializeFaro(faroConfig);
					var webTracingScript = document.createElement("script");
					webTracingScript.src =
						"https://unpkg.com/@grafana/faro-web-tracing@latest/dist/bundle/faro-web-tracing.iife.js";
					webTracingScript.onload = () => {
						window.GrafanaFaroWebSdk.faro.instrumentations.add(
							new window.GrafanaFaroWebTracing.TracingInstrumentation(),
						);
					};
					document.head.appendChild(webTracingScript);
				};
				document.head.appendChild(webSdkScript);
			})();
		</script>
	</head>
	<body
		class="bg-global-bg text-global-text mx-auto flex min-h-screen max-w-screen-lg flex-col px-4 pt-16 font-mono text-sm font-normal antialiased sm:px-8"
	>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main">
			<slot />
		</main>
		<Footer />
		<script is:inline type="speculationrules">
			{
				"prefetch": [
					{
						"where": {
							"href_matches": "/*"
						},
						"eagerness": "immediate"
					}
				],
				"prerender": [
					{
						"where": {
							"href_matches": "/*"
						},
						"eagerness": "moderate"
					}
				]
			}
		</script>
	</body>
</html>
