---
import type { SiteMeta } from "@/types";
import BaseHead from "@/components/BaseHead";
import ThemeProvider from "@/components/ThemeProvider";
import Header from "@/components/layout/Header";
import Footer from "@/components/layout/Footer";
import SkipLink from "@/components/SkipLink";
import StructuredData from "@/components/StructuredData";
import { siteConfig } from "@/site-config";
import pkg from "../../package.json";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { title, description = siteConfig.description, ogImage, articleDate },
} = Astro.props;

const faroConfig = {
	url: "https://faro-collector-prod-eu-west-2.grafana.net/collect/b3811c349a48e4c380a534109f017dfd",
	app: {
		name: "stefanmuraru-com",
		version: pkg.version,
		environment: "production",
	},
	sessionTracking: {
		samplingRate: 1,
		persistent: true,
	},
};
---

<html lang={siteConfig.lang}>
	<head>
		<BaseHead title={title} description={description} ogImage={ogImage} articleDate={articleDate} />
		<StructuredData type="website" />

		<script
			is:inline
			defer
			src="https://static.cloudflareinsights.com/beacon.min.js"
			data-cf-beacon='{"token": "590efb30049b45d99e45bb37886c178c"}'></script>
		<script define:vars={{ faroConfig }}>
			window.faroConfig = faroConfig;
		</script>
		<script src="/src/scripts/faro.ts"></script>
	</head>
	<body>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
